Requirements:

0 Advert Categories
0.1 House for sale
0.2 House for rent
0.3 Car for sale

1 Create
1.1 Capability of authenticated users to create adverts and categorize them upon creation

2 Edit
2.1 Capability of authenticated users to edit THEIR adverts and re-categorize them

3 Delete
3.1 Capability of authenticated users to delete THEIR adverts

4 User Authentication
4.1 Capability of existing users to be authenticated (log in)
4.2 Capability of authenticated users to log out
4.3 Capability of new users to create an account

5 View (Screens)

5.1 Navigation bar
5.1.1 This is a component that must be present on the following screens:
5.1.1.1 Home page
5.1.1.2 Results page
5.1.1.3 Advert details
5.1.2 Link to home page
5.1.3 Link to user's account if the user is authenticated
5.1.3.1 If the user is not authenticated, provide option to Log In

5.2 Home page
5.2.1 Search for adverts by category
5.2.2 Search for adverts by key word
5.2.3 Preview results for each category

5.3 Results page
5.3.1 Show results
5.3.2 Capability to navigate to the advert's details

5.4 Advert Details
5.4.1 Must contain the following contents
5.4.1.1 Title
5.4.1.2 Description
5.4.1.3 Image
5.4.1.4 Contact Information (Email and/or phone)
5.4.1.5 Owner (user information)
5.4.1.6 Cost (Sale or rent)

5.5 Create Advert
5.5.1 Advert must appear in results upon creation
5.5.2 See section 5.4.1 for details that the user must provide upon advert creation 
5.5.3 If user is not authenticated, the user is redirected to Login page

5.6 Login page
5.6.1 Have necessary components to log in
5.6.1.1 Username
5.6.1.2 Password
5.6.2 If login is successful, redirect to User Account page
5.6.3 Link to register (create account)

5.7 User Account page
5.7.1 Only accessible to registered users
5.7.2 If user is not authenticated, the user is redirected to Login page
5.7.3 Show all adverts the user has created
5.7.4 Allow user create new adverts
5.7.5 Allow user to modify THEIR OWN adverts
5.7.6 Allow user to delete THEIR OWN adverts

5.8 Register
5.8.1 Capability for the user to create an account
5.8.2 User inputs must be validated. Errors must be shown on screen
5.8.3 Required user information
5.8.3.1 Name
5.8.3.2 Last names
5.8.3.3 Date of Birth
5.8.3.3.1 Date of birth is only valid for users 18 years or older
5.8.3.4 Username
5.8.3.4.1 Username must not have spaces
5.8.3.4.2 Username must not already exist
5.8.3.5 Password
5.8.3.5.1 Password must be 8 characters or more
5.8.3.5.2 Password must have at least one special character
5.8.3.5.3 Password must have at least one number

6 Implementation
6.1 Programming Language must be Java 1.8
6.2 IDE must be Eclipse STS
6.3 Frameworks used must be Spring MVC 4 and Spring Boot
6.4 Object Relational Mapping used must be Hibernate
6.5 Data Base Management System must be MySQL

7 Deliverables
7.1 Project must be delivered in a compressed ZIP archive with the following name format: suNombreCOMP3015.zip
7.2 ZIP archive must include
7.2.1 Eclipse Project
7.2.2 Exported MySQL database
7.3 Program msut compile successfully