<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Account</title>
	<!-- Link obtained in https://cdnjs.com/libraries/bootswatch -->
	<!-- See more themes in https://bootswatch.com/ -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/cerulean/bootstrap.min.css"
		integrity="sha512-vaImhtQoaCXvevCM/UK+8ND/df0kiQWLtR65wgq0AWShEXLpWHMve0oGgU0q1gq1MbbyEuAhMMlqNmZd7s7wTQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<div th:replace="~{fragments/base :: navbar(${searchForm}, ${advertCategories})}"></div>

	<div class="container ">
		<div class="row justify-content-center mt-3">
			<div class="col-md-6 text-center">
				<h1>Welcome back <span th:text="${user.name}"></span>!
				</h1>
			</div>
		</div>
	</div>

	<div class="container mb-5 mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center">
				<h2>My Account</h2>
				<a th:href="@{/advert/create}">Create New Advert</a>
			</div>
		</div>
		<h4>My Adverts:</h4>

		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Log out" />
		</form>

	</div>

	<div class="container">
		<div th:each="advert : ${adverts}" class="card mb-3">
			<div class="row g-0">
				<div class="col-md-4">
					<img th:src="@{${advert.imageBase64}}" class="img-fluid rounded-start">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 th:text="${advert.title}" class="card-title">Title</h5>
						<a th:href="@{'/advert/modify/' + ${advert.ID}}">Modify</a>
						<a th:href="@{'/advert/' + ${advert.ID}}">Details</a>
					</div>

					<form th:action="@{'/advert/' + ${advert.ID}}" th:method="delete">
						<input type="submit" value="Delete" class="btn btn-danger mb-3" />
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{fragments/base :: footer}"></div>
</body>

</html>