<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MANA</title>
	<!-- Link obtained in https://cdnjs.com/libraries/bootswatch -->
	<!-- See more themes in https://bootswatch.com/ -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
		integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<div th:replace="~{fragments/base :: navbar(${searchForm}, ${advertCategories})}"></div>

	<main>
		<h1 class="text-center text-body-secondary mt-3 mb-3">MANA Advertisements</h1>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			<div class="col">
				<div class="card">
					<img th:src="@{/images/housesale.jpg}" class="card-img-top" alt="Houses for sale">
					<div class="card-body text-center">
						<h5 class="card-title">Houses for Sale</h5>
						<p class="card-text">House for Sale description</p>
						<a th:href="@{/search/category?category=1}" class="btn btn-primary">See More</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img th:src="@{/images/houserent.jpg}" class="card-img-top" alt="Houses for rent">
					<div class="card-body text-center">
						<h5 class="card-title">Houses for Rent</h5>
						<p class="card-text">House for Rent description</p>
						<a th:href="@{/search/category?category=2}" class="btn btn-primary">See More</a>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card">
					<img th:src="@{/images/carsale.jpg}" class="card-img-top" alt="Cars for sale">
					<div class="card-body text-center">
						<h5 class="card-title">Cars for Sale </h5>
						<p class="card-text">Car for Sale description</p>
						<a th:href="@{/search/category?category=3}" class="btn btn-primary">See More</a>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div th:replace="~{fragments/base :: footer}"></div>
</body>

</html>