<div th:fragment="navbar(searchForm, advertCategories)">
	<nav class="navbar navbar-expand-sm">
		<div class="container-fluid ">
			<a class="navbar-brand" th:href="@{/}">MANA</a>
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/}">Home</a>
				</li>

				<li sec:authorize="!isFullyAuthenticated()" class="nav-item">
					<a class="nav-link" th:href="@{/login}">Login</a>
				</li>

				<li sec:authorize="isFullyAuthenticated()" class="nav-item">
					<a class="nav-link" th:href="@{/account}">My Account</a>
				</li>
			</ul>

			<form th:action="@{/search}" th:object="${searchForm}" class="d-flex" th:method="get">
				<input type="text" th:field="*{query}" placeholder="Search" class="form-control me-2">
				<select th:field="*{category}" class="form-control">
					<option selected th:text="All" th:value="0" class="dropdown-item"></option>
					<option th:each="advertCategory : ${advertCategories}" th:text="${advertCategory.name}" th:value="${advertCategory.ID}" class="dropdown-item"></option>
				</select>
				<input type="submit" value="Search" class="btn btn-primary" />
			</form>

		</div>
	</nav>
</div>

<div th:fragment="footer">
	<div class="container-fluid ">
		<footer class="py-3 my-4">
			<p class="text-center text-body-secondary border-top">All Rights Reserved</p>
		</footer>
	</div>
</div>